<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials/head :: head('Roll The Dice')"></head>

<body>
<header th:replace="partials/partials :: header"></header>

    <div class="container text-center">
        <h1>Can you guess what the dice will roll?</h1>

        <hr>

        <form action="/roll-dice" method="post">
            <button type="button" class="btn btn-outline-info" th:name="1" th:value="1">1</button>
            <button type="button" class="btn btn-outline-info" th:name="2" th:value="1">2</button>
            <button type="button" class="btn btn-outline-info" th:name="3" th:value="1">3</button>
            <button type="button" class="btn btn-outline-info" th:name="4" th:value="1">4</button>
            <button type="button" class="btn btn-outline-info" th:name="5" th:value="1">5</button>
            <button type="button" class="btn btn-outline-info" th:name="6" th:value="1">6</button>
        </form>


    </div>
    <hr>
<center>
        <br>
        Please enter a number:
        <form action="/roll-dice" method="post">
            <input type="text" name="num" id="cohort-ip" class="field" />
            <button>Roll the Die</button>
        </form>

        <br>
        <h5 class="text-center"><span th:text="${message1}"></span></h5>
        <h3 class="text-center"><span th:text="${message2}"></span></h3>

        <form th:if="${num != null}" action="/roll-dice" method="get" class="text-center">
            <button>Try again</button>
        </form>
</center>


    <th:block th:include="partials/scripts :: scripts"></th:block>

    <footer th:include="partials/footer :: footer"></footer>
    </div>
</body>
</html>